{% block content %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <script>window.scrollTo(0,document.body.scrollHeight)</script>
    </head>
    <body class="d-flex flex-column h-100">
          <img src="https://i.ibb.co/LhNzC6C/Avatar-GIF.gif" alt="Avatar-GIF" border="0" style="width:40px;height:40px;">
      <div class="box">
        <div class="jumbotron">
          <div>
            <div id="chatbox">
              <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                      <a class="nav-item nav-link" href="/">Home</a>
                      <a class="nav-item nav-link" href="/dedbot">DedBot</a>
                  </div>
                </div>
                <img src="https://i.ibb.co/J7yg5RB/WordArt.png" alt="DedBotWordArt" border="0" style="width:135px;height:40px;">
              </nav>
                 <img src="https://i.ibb.co/LhNzC6C/Avatar-GIF.gif" alt="Avatar-GIF" border="0" style="width:70px;height:70px;">
                  {% for i in range (lendata)%}
                    {% if i % 2==0%}
                      <p class="botText">DedBot:
                        {% for word in isichat[i].split("\n")  %}
                            <br>{{word}}
                        {% endfor %}    
                      </p>
                    {% else %}
                      <p class="userText">
                        <span>
                          You: <br> {{isichat[i]}} 
                        </span>
                      </p>
                    {% endif %}
                 {% endfor %}

            </div>
            <form action="#" method="POST">
                <div class="form-group">
                    <label for="textInput">Pesan</label>
                    <input id="textInput" type="text" name="userInput" placeholder="Message" class="form-control" autofocus />
                </div>
            </form>
            
          </div>
        </div>
      </div>
    </body>

</html>
{% endblock content %}
